In [3]:
import pandas as pd
import numpy as np

In [83]:
# access file
data_source_csv = "./dataset/sleepdata.csv"
data1 = pd.read_csv(data_source_csv, sep=';')
data_source_csv = "./dataset/sleepdata_2.csv"
data2 = pd.read_csv(data_source_csv, sep=';')
data2.isnull().sum()

Start                            0
End                              0
Sleep Quality                    0
Regularity                       0
Mood                           921
Heart rate (bpm)                 0
Steps                            0
Alarm mode                       0
Air Pressure (Pa)              429
City                           434
Movements per hour               0
Time in bed (seconds)            0
Time asleep (seconds)            0
Time before sleep (seconds)      0
Window start                    80
Window stop                     80
Did snore                        0
Snore time                       0
Weather temperature (°C)         0
Weather type                     0
Notes                          912
dtype: int64

In [84]:
#help(data1.drop)
df1 = data1.drop(["Sleep Notes","Heart rate"], axis = 1) #delete 2 column
df1

,Start,End,Sleep quality,Time in bed,Wake up,Activity (steps)
0,2014-12-29 22:57:49,2014-12-30 07:30:13,100%,8:32,:),0
1,2014-12-30 21:17:50,2014-12-30 21:33:54,3%,0:16,:|,0
2,2014-12-30 22:42:49,2014-12-31 07:13:31,98%,8:30,:|,0
3,2014-12-31 22:31:01,2015-01-01 06:03:01,65%,7:32,NaN,0
4,2015-01-01 22:12:10,2015-01-02 04:56:35,72%,6:44,:),0
...,...,...,...,...,...,...
882,2018-02-12 21:54:14,2018-02-13 07:02:15,91%,9:08,NaN,56
883,2018-02-13 23:49:19,2018-02-14 07:00:53,81%,7:11,NaN,64
884,2018-02-14 21:24:05,2018-02-15 06:20:52,71%,8:56,NaN,3316
885,2018-02-15 21:36:32,2018-02-16 06:50:31,80%,9:13,NaN,6555
886,2018-02-16 22:52:29,2018-02-17 07:48:04,91%,8:55,NaN,2291

In [89]:
df2 = data2.drop(["Mood","Notes", "Air Pressure (Pa)", "City", "Regularity", "Heart rate (bpm)", "Steps", "Movements per hour"], axis = 1) #delete 8 column 基於缺失量，或其他理由
df2

,Start,End,Sleep Quality,Alarm mode,Time in bed (seconds),Time asleep (seconds),Time before sleep (seconds),Window start,Window stop,Did snore,Snore time,Weather temperature (°C),Weather type
0,2019-05-12 23:26:13,2019-05-13 06:11:03,60%,Normal,24289.2,22993.8,161.9,2019-05-13 06:00:00,2019-05-13 06:00:00,True,92.0,0.0,No weather
1,2019-05-13 22:10:31,2019-05-14 06:10:42,73%,Normal,28810.2,25160.9,192.1,2019-05-14 05:50:00,2019-05-14 05:50:00,True,0.0,0.0,No weather
2,2019-05-14 21:43:00,2019-05-15 06:10:41,86%,Normal,30461.5,28430.8,203.1,2019-05-15 05:50:00,2019-05-15 05:50:00,True,74.0,0.0,No weather
3,2019-05-15 23:11:51,2019-05-16 06:13:59,77%,Normal,25327.6,23132.5,168.9,2019-05-16 05:50:00,2019-05-16 05:50:00,True,0.0,0.0,No weather
4,2019-05-16 23:12:13,2019-05-17 06:20:32,78%,Normal,25698.4,22614.6,171.3,2019-05-17 05:50:00,2019-05-17 05:50:00,True,188.0,0.0,No weather
...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,2022-03-24 21:33:46,2022-03-25 04:21:40,71%,Normal,24474.1,20803.0,489.5,2022-03-25 04:20:00,2022-03-25 04:20:00,True,695.7,4.0,Cloudy
917,2022-03-25 16:48:05,2022-03-25 17:30:22,9%,Normal,2536.2,0.0,0.0,2022-03-25 17:30:00,2022-03-25 17:30:00,True,0.0,5.0,Cloudy
918,2022-03-26 21:14:23,2022-03-27 06:11:01,49%,Normal,32198.1,24577.9,3649.1,2022-03-27 06:00:00,2022-03-27 06:00:00,True,506.4,-1.1,Cloudy
919,2022-03-28 22:53:23,2022-03-29 04:50:36,77%,Normal,21433.6,15860.8,428.7,2022-03-29 04:20:00,2022-03-29 04:20:00,True,60.0,6.1,Sunny
920,2022-03-29 22:44:09,2022-03-30 05:11:15,68%,Normal,23225.9,18813.0,464.5,2022-03-30 05:00:00,2022-03-30 05:00:00,True,720.0,10.5,Cloudy